
<div class="table-responsive">
  <table class="table ">
    <tr>
      <th><div class="col">
        <h3>Usuarios</h3>
        <app-listado-usuarios (informarEvent)="cambiarUsuario($event)"></app-listado-usuarios>
      </div></th>
      <th>
        <div class="container">
        <div class="col">
          <h3>Detalles del usuario:</h3>
          <app-perfiles-usuarios [usuario]="UsuarioSeleccionado"></app-perfiles-usuarios>
        </div>
        </div>
      </th>

      <th>
        <div class="container">
        <div class="col">
          <h3></h3>
          <app-registro-usuarios (altaEvento)="addEvento($event)"></app-registro-usuarios>
        </div>
        </div>
      </th>

    </tr>
  </table>
  </div>
