

<ul *ngFor="let item of arrayEvents; let i = index" [attr.data-index]="i">
  <div class="card">
    <h5 class="card-header">{{item.nombre}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{item.apellido}}</h5>

      <li>Nombre: {{item.nombre}}</li>
      <li>Apellido: {{item.apellido}}</li>
      <li>Password: {{item.password}}</li>
      <li>Email: {{item.email}}</li>
      <li>Edad: {{item.edad}}</li>
      <li>Sexo: {{item.sexo}}</li>
      <li>Localidad: {{item.localidad}}</li>
      <li>Descripcion: {{item.descripcion}}</li>
      <br>
      <li>
        <img [src]="item.imagen" width="250px" height="250px" ></li>

      <br>
      <input class="btn btn-danger" type="button" (click)="eliminar(i)" value="Eliminar"/>
    </div>
  </div>
</ul>

