<div class="card" style="width: 18rem;">
  <img [src]="usuario.imagen" width="100%">
  <div class="card-body">
    <h5 class="card-title">{{usuario.nombre}} {{usuario.apellido}}</h5>
    <p class="card-text">{{usuario.descripcion}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email: {{usuario.email}} </li>
    <li class="list-group-item">Edad: {{usuario.edad}}</li>
    <li class="list-group-item">Sexo: {{usuario.sexo}}</li>
    <li class="list-group-item">Localidad: {{usuario.localidad}}</li>
  </ul>
</div>
